.num{
    background-color: rgb(185, 185, 185);
    border-width: 0.2;
    width:80px;
    height:80px;
    border-radius: 10%;
    font-size: xx-large;
    
    
}
.zero{
    width: 160px;
    height: 80px;
    border-radius: 10%;
    border-width: 0.2;
    background-color: rgb(185, 185, 185);
    font-size: xx-large;
}

.cals{
    background-color: orange;
    border-width: 0.2;
    width:80px;
    height:80px;
    border-radius: 10%;
    font-size: xx-large;
}
.input{
    width: 320px;
    height: 80px;
    border-radius: 10%;
    font-size:xx-large;
    background-color: rgb(221, 221, 221);
}