.num {
  cursor: pointer;
  background-color: rgb(210, 210, 210);
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 34px;
}
.num:active {
  background-color: rgb(237, 237, 237);
}

.cals {
  cursor: pointer;
  background-color: rgb(255, 181, 44);
  border-width: 0.2;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 34px;
}
.input {
  width: 330px;
  height: 80px;
  border-radius: 10px;
  font-size: 34px;
  background-color: rgb(210, 210, 210);
}

.pressed {
  background-color: rgb(175, 141, 78);
}
.container {
  margin: auto;
  margin-top: 30px;
  width: 340px;
  height: 500px;
  padding: 30px;
  background-color: rgb(60, 60, 60);
  border-radius: 20px;
}
